---
layout: default
---
<!-- Navigation -->
{% include nav-homepage.html %}
  <!-- About Section -->
  <section class="page-section bg-primary" id="About">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">We've got what you need!</h2>
          <hr class="divider light my-4">
          <p class="text-white-75 mb-4">About Akaunto</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

